@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
    padding: 0px;

}

/* common style*/
.btn-primary {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin:5px 20px 5px 0;

}

.bg-primary {
    background-color: #FFF8F3;
}
.primary-description-big{
    color: #757575;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 0px;
}
.primary-description-small{
    color: #757575;
    font-size: 16px;
    line-height: 18px;
    padding: 16px 0px;


}

/* header & nav styles */
header {
    /* height: 820px; */
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
}

nav .nav-brand {
    font-size: 45px;
    font-weight: 900;

}

nav .nav-brand span {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 900;

}


/* banner-section style */
.banner-section {
    display: flex;
    justify-content: space-around;
}

.banner-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.banner-content {
    width: 70%;
    /* border: 2px solid green; >>for make layout */

}

.banner-content .subtitle {
    font-size: 40px;
    font-weight: 600;

}

.banner-content .title {
    font-size: 65px;
    font-weight: 700;

}

.banner-content .title {
    font-size: 65px;
    font-weight: 700;

}

/* about us section styles */
.about-section{
    width: 1040px;
    height: 420px;
    margin: 140px auto;
    padding: 30px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}   


.about-contents{ 
    /* styles for itself */ 
    width: 80%;
    border: 1px solid black;
    background-color: white;
    padding: 15px; 
    /* styles for it's children */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;


}

.about-title{

}
.about-description{

}

.about-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-info .about-data{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-data .data-heading{
    font-size: 16px;
    color: #757575;
    line-height: 10px;
    padding: 8px 0px;
    

}
.about-data .data-value{
    font-size: 16px;
    color: black;
    line-height: 10px;
    padding: 8px 0px;

}


/* skills section styles */
.skills-section{
    width: 1040px;
    margin: 120px auto;
    padding: 50px;
    /* border: 2px solid red; */

}
.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    
}
.skills-container .skills-title{
    
}
.skills-container .skills-desc{
    width: 80%;
    text-align: center;
}

.skills-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.skills-cards .skill-card{
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 20px #c4c4c4;
    /* styles for is's childs */
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    gap: 15px;

}

.skill-card .skill-img{
    width: 44px;
    height: 44px;

}

/* Resume section styles */
.resume-section{
    /* border: 2px solid red; */
    width: 1040px;
    margin: 100px auto;
    
}
.resume-container{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;

}

.resume-content{
    /* border: 2px solid green; */
    display: flex;
    gap: 50px;
}

.resume-content .resume-column{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.resume-column .resume-info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    
}

